<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <strong>Términos y condiciones</strong>
    <p>Término1: </p>
    <br>
    <p>Término2: </p>
    <br>
    <p>Término3: </p>
    <br>
    <p>Término4: </p>
    <br>
    <p>Condición: </p>
    <br>
    <p>Condición: </p>
    <br>
    <p>Condición: </p>
    <br>
    <p>Condición: </p>

    <script src="scripts/script.js"></script>
</body>
</html>